form select {
	font-size: 14px;
  height: 36px;
  line-height: 1.42857;
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
}

form select option {
  margin: 5px;
  color: #9c27b0;
}

.color-corporativo {
  color: #9c27b0;
}

img.portada {
  height: 180px !important;
  width: 120px !important;
}

.acciones-registro{
  margin: 0px;
  padding: 0px;
}

/* CUANDO LA PANTALLAS SON PEQUEÑAS */
@media (min-width: 310px) and (max-width: 385px) { 
  .navTabsResponsive{
    margin-left:50%;
  }
}

@media (min-width: 386px) and (max-width: 575px) { 
  .navTabsResponsive{
    margin-left:60%;
  }
}

/* NAV BAR */

.img-avatar.mini-avatar {

	display: inline;
}

/* ICONOS */

.fa {
  margin: 0px 5px;
  cursor: pointer;
}

/* LISTAS */
ul li.cabecera{
  list-style-type: none;
  padding: 0px;
}
li.cabecera{
  margin: 5px 5px 5px -20px;
  width: 100%;
  cursor: pointer;
}
li button.acciones-registro{
  margin: 0px;
  padding: 0px;
}

/* LISTAS AUXILIARES */
.listaAuxiliar {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #EEEEEE;
}

.listaAuxiliar ul{

  list-style-type: disc;
}

.listaAuxiliar li{

  margin-left: 8%;
}


/* MODAL */
.modal-content .modal-header{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

/* DATATABLES */

table.dataTable tr.selected{
  background-color: #B0BED9;
}

/* Input para buscar en la tabla (el buscador) */
div.dataTables_filter label input[type="search"] {
	width: 70%;
}

/* Texto que muestra los registros que hay en la tabla */
div.dataTables_wrapper div.dataTables_info {
	font-size: 12px;
	white-space: pre-line;
	color: #aaaaaa;
}

/* Cuando el dispositivo es pequeño, hace que el contenido oculto (-) se ajuste al ancho */
table.dataTable td.child {
  white-space: pre-line;

 	overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

/* Cuando el dispositivo es pequeño, hace que el encabezado de la tabla oculta (-) tenga el espacio que necesita */
/*table.dataTable > tbody > tr.child span.dtr-title {
	display: block;
}*/

/* Ajusta el mensaje de 'No hay datos disponibles para mostrar en esta tabla' a las columnas disponibles */
table.dataTable.nowrap td.dataTables_empty {
  white-space:normal;
}

/* Botones de la columna ACCIONES */
table.dataTable button.acciones-registro{
  margin: 0px;
  padding: 0px;
}

table.dataTable td.child span.dtr-data{
  white-space: normal;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  word-break: normal;
}

.table-responsive{
  border-color: transparent;
}

/* BOTONES */

    /* Para añadir registro */
.anadirRegistro {

  border: 1px solid #ffffff;
  float: right;
  margin-top: -40px;
}

/* NAVBAR */
.navBarDivisor{
  position:relative;
}
.navBarDivisor:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.3);
}
#navBarGeneral > li:last-of-type > a{
  margin-bottom:0px !important;
}
#navBarParticular{
  margin-top:0px !important;
}


/* CLUBS DE LECTURA */
.conversacion{
  height: 500px;
  background-color: #EEEEEE;
  overflow-x: scroll;
}

.comentario {
  position: relative;
  background: #FFFFCC;
  border: 1px solid #FFCC00;
  max-width: 250px;
  padding: 10px;
  font-family: arial;
  margin: 5px;
  font-size: 18px;
  font-style: italic;
  border-radius: 6px;
  overflow-wrap: break-word;    
}

.comentario.me {
  background: #aed6f1;
  border: 1px solid #154360;
  margin-left: auto;
}

.comentario:after,
.comentario:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.comentario:after {
  border-color: rgba(255, 255, 204, 0);
  border-right-color: #FFFFCC;
  border-width: 15px;
  margin-top: -15px;
}
.comentario:before {
  border-color: rgba(255, 204, 0, 0);
  border-right-color: #FFCC00;
  border-width: 16px;
  margin-top: -16px;
}

.comentario.me:after {
  right: -12.5%;
  border-color: rgba(255, 255, 204, 0);
  border-left-color: #aed6f1;
  border-width: 16px;
  margin-top: -16px;
}
.comentario.me:before {
  right: -12.5%;
  border-color: rgba(255, 204, 0, 0);
  border-left-color: #154360;
  border-width: 15px;
  margin-top: -15px;
}

.comentario > .usuario, .comentario > .fecha {
  font-size: 12px;
}

.comentario > .fecha {
  text-align: right;
}


/* CAROUSEL */
.carousel-caption {
  bottom: 10px;
  color: #FF2D2D;
  background-color: white;
  padding: 0px;
  text-shadow: none;
}

.carousel .carousel-control .fa{
  color: #FF2D2D;
  line-height: 250px;
}

.carousel img {
  margin: auto;
}

/* ESTILO DE LA VISTA DE MI BIBLIOTECA */
.contenedorLibro{
  float: left;
  height: 200px;
  width: 140px; 
  margin: 10px;
  background-color: #EEEEEE;
}

.contenedorLibro .portada{
  margin: 10px;
}

.contenedorLibro .infoLibro{
  display: inline-block;
}

/* GENERALES */
.display-inline {
  display: inline;
}
/*Slider de Reseñas*/
#valor_slider{
  text-align:center;
  font-size:2em;
  font-weight:5;
  margin-bottom:20px;
}

/* MENÚ LATERAL */
div.sidebar-wrapper{
  background-image:url('../img/menu.png');
  background-position:center;
  background-repeat: no-repeat;
}