Options +FollowSymLinks -MultiViews
RewriteEngine On

#Si se intenta acceder a un directorio redirigir a error
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !^/READARKRIT/$
RewriteRule ^ /READARKRIT/html/error/error.html

#Si se solicita un fichero diferente a las listadas, redirigir al control de acceso
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} ^(.+).html [NC,OR]
RewriteCond %{REQUEST_FILENAME} ^(.+).php [NC]

RewriteCond %{REQUEST_URI} !^/READARKRIT/php/access.php
RewriteCond %{REQUEST_URI} !^/READARKRIT/php/login.php
RewriteCond %{REQUEST_URI} !^/READARKRIT/php/pruebas.php

RewriteCond %{REQUEST_URI} !^/READARKRIT/html/error/error.html
RewriteCond %{REQUEST_URI} !^/READARKRIT/index.html
RewriteCond %{REQUEST_URI} !^/READARKRIT/html/alumno/altaAlumno.html
RewriteCond %{REQUEST_URI} !^/READARKRIT/php/autoToken.php
RewriteRule ^ /READARKRIT/php/access.php [L]

#Si se solicita una dirección no existente, redirigir al control de acceso
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /READARKRIT/php/access.php
