<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="title">Modificar perfil</h4>
				</div>
				<div class="card-content">
					<form>
					    <div class="row">
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Nombre</label>
									<input type="text" class="form-control" id="nombre" name="nombre" ng-model="alumno.usuario.nombre" disabled>
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Primer Apellido</label>
									<input type="text" class="form-control" id="primerApellido" name="primerApellido" ng-model="alumno.usuario.primerApellido" disabled>
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Segundo Apellido</label>
									<input type="text" class="form-control" id="segundoApellido" name="segundoApellido" ng-model="alumno.usuario.segundoApellido" disabled>
								</div>
					        </div>
					    </div>

					    <div class="row">
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Fecha de Nacimiento</label>
									<input type="text" class="form-control" id="fNacimiento" name="fNacimiento" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="alumno.usuario.fNacimiento" disabled>
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Correo Electrónico</label>
									<input type="text" class="form-control" id="correo" name="correo" ng-model="alumno.usuario.correo">
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating input-group">
									<label class="control-label">Nombre de Usuario</label>
								    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" ng-model="alumno.usuario.nombreUsuario" disabled>
								    <div class="input-group-btn">
								      	<button class="btn btn-info" id="comprobarDisponibilidadNombreUsuario" style="padding: 6px 12px;">
								        	<i class="fa fa-check-circle" aria-hidden="true"></i>
								      	</button>
								    </div>
								</div>
					        </div>
					        
					    </div>

					    <div class="row">
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Contraseña</label>
									<input type="password" class="form-control" id="contrasena" name="contrasena" ng-model="alumno.usuario.contrasena">
								</div>

								<div class="alert alert-info hidden" id="infoContrasena">
					                <button type="button" aria-hidden="true" class="close" onclick="cerrarAlerta(this)">×</button>
					                <span><b> Info - </b> La contraseña debe tener mas de ocho caracteres y tener como mínimo: un dígito, una minúscula y una mayúscula.</span>
					            </div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Repetir Contraseña</label>
									<input type="password" class="form-control" id="contrasenaRepetida" name="contrasenaRepetida"  ng-model="alumno.usuario.contrasenaRepetida">
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<p class="text-info text-justify">
										Para cambiar la contraseña escriba una nueva en los campos de la izquierda. En caso de no querer cambiarla, dejar los campos en blanco.
									</p>
								</div>
					        </div>
					    </div>

					    <div class="row">
					    	<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Número de Expediente</label>
									<input type="text" class="form-control" id="numExpediente" name="numExpediente" ng-model="alumno.numExpediente" disabled>
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Titulación</label>
									<select id="idTitulacion" name="idTitulacion">
									  	<!-- Se cargarán los distintos valores -->
									</select> 
								</div>
					        </div>
					        <div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Curso</label>
									<select id="curso" name="curso">
									  	<!-- Se cargarán los distintos valores -->
									</select> 
								</div>
					        </div>                                      
					    </div>
					    <div class="row">
					        <div class="col-md-12">
			                    <div class="alert alert-danger hidden" id="errores">
			                        <button type="button" aria-hidden="true" class="close" onclick="cerrarAlerta(this)">×</button>
			                        <span>
			                        	<!-- Errores -->
			                        </span>
			                    </div>
					        </div>
					    </div>
					    <div class="row">
					        <div class="col-md-12">
			                    <div class="alert alert-success hidden" id="exito">
			                        <button type="button" aria-hidden="true" class="close" onclick="cerrarAlerta(this)">×</button>
			                        <span>
			                        </span>
			                    </div>
					        </div>
					    </div>
					    <div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-profile">
				<div class="content">
					<button type="submit" class="btn btn-info" ng-click="modificarUsuario()">Modificar</button>
				</div>
		</div>
	</div>
</div>