<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="title">Administración de comentarios</h4>
				</div>
				<div id="listadoComentarios" class="card-content">
					<div class="card-content table-responsive">
						<table  id="listadoComentarios" class="table table-striped table-bordered dt-responsive nowrap row-border hover" width="100%" datatable="ng" cellspacing="0" dt-options="dtOptions" dt-instance="dtInstance">
							<thead>
								<tr>
									<th>Libro</th>		
									<th>Usuario</th>
									<th>Fecha de comentario</th>
									<th>Nota</th>
									<th>Comentario</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody ng-repeat="resena in resenas">
								<tr class="comentario">
									<td>{{resena.titulo}}</td>
									<td>{{resena.nombre}}</td>
									<td>{{resena.fecha_alta}}</td>
									<td>{{resena.nota}}</td>
									<td>{{resena.comentario}}</td>
					        		<td>
										<button type="button" rel="tooltip" title="Eliminar" id="botonPrueba" class="btn btn-default btn-simple acciones-registro" ng-click="eliminarResena(resena.id_resena, $index)">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</button>
					        		</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>