#formulario_login{

	padding-top: 15px;
}

#formulario_login input,
#formulario_login button{

	height: 25px;
}

#formulario_login input{
	margin-top: 5px;
}

#formulario_login button{
	padding-top: 0px;
}